@using PagedList;
@using PagedList.Mvc;
@using Dipayan_project.Models
@model IPagedList<Dipayan_project.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>GetData</title>
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Product ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category ID</th>
                    <th scope="col">Category Name</th>
                </tr>
            </thead>
            @foreach (var i in Model)
            {

                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelName => i.ProductId, new { @class = "input-label" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelName => i.ProductName, new { @class = "input-label" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelName => i.CategoryId, new { @class = "input-label" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelName => i.category.CategoryName, new { @class = "input-label" })
                        </td>
                        <td>
                            @Html.ActionLink("EDIT", "Edit", "Product", new { name = i.ProductName }, htmlAttributes: null)
                        </td>
                        <td>
                            @Html.ActionLink("DELETE", "DeleteRecord", "Product", new { name = i.ProductName }, htmlAttributes: null)
                        </td>
                    </tr>
                </tbody>


            }
        </table>
        <div>
           <b> @Html.PagedListPager(Model, page => Url.Action("GetData", new { page, @class = ".paginations .page-item" }))</b>
        </div>
    </div>
</body>
</html>
